@import 'reset';

@font-face {
	font-family: BetterBook;
	src: url(../fonts/BetterBook.otf);
}

/* Variables */
$purpleyblue: #9691A5;
$whitekindof: rgb(236, 234, 229);
$darkgrey: rgb(68, 68, 68);
$time: "day";

/* Extend */
%grid {
	display: grid;
}

/* Mixin */
@mixin boxShadow($color) {
	box-shadow: 6px 6px 0px $color;
}

body {
	background-color: $whitekindof;
	font-size: 1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
		/* If/else */
		@if $time == "night" {
			background-color: darken($whitekindof, 80%);
		}
}

#container {
	@extend %grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas:
	". . mainnav mainnav mainnav mainnav mainnav mainnav mainnav mainnav . ."
	". . . intro intro intro intro intro intro . . ."
	". . content content content content content content content content . .";
}

#mainnav {
	grid-area: mainnav;
	background-color: $purpleyblue;
	@include boxShadow($darkgrey);
	margin: 5% 0;

	ul {
		@extend %grid;
		grid-template-columns: repeat(5, 1fr);
		text-align: center;

		li { /* Nesting */
			display: inline;
			padding: 6%;

			a {
				text-decoration: none;
				padding: 6% 8%;
				color: $whitekindof;
			}

			a:hover {
				text-decoration: underline;		
			}
		}
	}
}

#intro {
	margin: 6% 0;
	grid-area: intro;

	h1 {
		font-family: BetterBook;
		color: #7CB1CD;
		font-size: 5em;
		text-align: center;
	}

	p {
		background-color: $darkgrey;
		padding: 4%;
		color: $whitekindof;
		margin: 5% 0;
		@include boxShadow($purpleyblue);
		font-size: 0.9em;
		line-height: 1.5;
	}
}

#content {
	grid-area: content;
	@extend %grid;
	grid-template-areas:
	"img1 img1 img1 img1 img2 img2 img2 img2";
	justify-items: center;
	padding: 2% 0 6% 0;

	:nth-child(1) {
		grid-area: img1;
		max-width: 90%;
	}

	:nth-child(2) {
		grid-area: img2;
		max-width: 90%;
	}
}

@import 'responsive';